SERVER_PORT=8081
DB_HOST=db.fbcdvhoectqyofnezwfe.supabase.co
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=QqODFGGDCAKyD5h6
DB_NAME=postgres
DB_SSLMODE=disable

# CORS Configuration
ALLOWED_ORIGINS=http://localhost:5174

# Auth Service
AUTH_SERVICE_URL=http://localhost:8080
GIN_MODE=debug